body{
    text-align: center;
    margin: 5px;
    background-color: lightyellow;
}
.heading{
    text-shadow: 2px 2px rgb(55, 77, 99);
    text-decoration: underline;
    color: rgb(3, 7, 7);
    background-color: aqua;
}
.button{
    border-radius: 25px;
    margin: 10px;
}
button a{
    text-decoration: none;
    color: black;
}
p{
    font-size: large;
    text-decoration: underline;
}