body{
    background-image: url("./image/bg_image.jpg");
    /* opacity: 0.3; */
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    color: rgb(247, 243, 243);
}
body p{
    width: 65%;
    text-align: center;
    margin: 0 auto;
}
h1{
    text-align: center;
}
ul li a{
    text-decoration: none;
    color: white;
}